exportPattern("^[[:alpha:]]+")
export(BED12toGRangesList)
export(makeTravisCoordsFromGRangesList)
export(makeTravisCoordsFromTxDb)
export(TravisPlot)
export(narrowPeaktoGRanges)
export(getNeighborhood)
import(Rsamtools)
import(GenomicFeatures)
import(rtracklayer)
import(GenomicAlignments)
import(IRanges)
import(GenomicRanges)
import(ggplot2)
